mixin imagePng(name)
    img.img(src=require(`../src/images/${name}.png`) alt=name)

mixin imageJpg(name)
    img.img(src=require(`../src/images/${name}.jpg`) alt=name)

mixin imageSVG(name)
    img.img(src=require(`../src/images/${name}.svg`) alt=name)

